<html>
<head>
    <title>Create your own 2048 game</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/cosmo/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <div class="container">
        <div class="heading"><h1 class='title'>2048</h1></div>
        <p class="game-intro"><strong>Create your own version of 2048 game</strong><br/>
        <small>Settings url to 'abc' creates your game at url http://2048.anilshanbhag.in/abc</small><br/>
        <small>Tile2, Tile4, Tile8 .. represent the 2,4,8.. numbered tiles in the game</small></p><br/>
        <!-- Add Form Here -->
        <hr>
        <p>
            <strong class="important">Note:</strong> This site is used to make your own version of 2048. If you just want to play the game, go to <a href="http://git.io/2048" target='_blank'>http://git.io/2048.</a>
        </p><hr>
        <p>
            Created by <a href="http://anilshanbhag.in" target="_blank">Anil Shanbhag.</a>
        </p>
    </div>
</body>
</html>
